// Variables
$website-width: 1280px;
$main-color: #0ea5e9;
$accent-color: #06b6d4;
$success-color: #10b981;
$light-color: #f8fafc;
$medium-color: #cbd5e1;
$dark-color: #0f172a;
$darker-color: #020617;
$text-muted: #64748b;
$bg-image: url('../img/showcase.jpg');

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
